<!-- shared  -->

<div class="row g-2 m-5 flex" [formGroup]="customergroup">
  <div class="col-sm-3">
    <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <!-- <label for="name" class="form-label">Name</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      id="firstName"
      placeholder=""
      value=""
      style="width: 300px"
    /> -->
  </div>

  <!-- <div class="col-sm-3">
    <label for="lastName" class="form-label">Last name</label>
    <input
      type="text"
      formControlName="lastName"
      class="form-control"
      id="lastName"
      placeholder=""
      value=""
    />
  </div> -->

  <div class="col-sm-3">
    <label for="mobile" class="form-label">Mobile no</label>
    <input
      type="text"
      formControlName="mobile"
      class="form-control"
      id="firstName"
      placeholder=""
      value=""
      style="width: 300px; flex: auto"
    />
  </div>

  <div class="col-sm-3">
    <label for="email" class="form-label"
      >Email <span class="text-muted">(Optional)</span></label
    >
    <input
      type="email"
      formControlName="email"
      class="form-control"
      id="email"
      placeholder=""
      style="width: 300px"
    />
    <div class="invalid-feedback">
      Please enter a valid email address for shipping updates.
    </div>
  </div>

  <div>
    <label for="address" class="form-label">Address</label>
    <input
      type="text"
      formControlName="address"
      class="form-control"
      id="address"
      placeholder=""
      style="width: 940px; height: 70px"
    />
    <div class="invalid-feedback">Please enter your shipping address.</div>
  </div>
  <div class="col-md-3" style="margin-right: 10px">
    <label for="zip" class="form-label">State</label>
    <input
      type="text"
      formControlName="state"
      class="form-control"
      id="state"
      placeholder=""
    />
    <div class="invalid-feedback">state code required.</div>
  </div>
  <div class="col-sm-3">
    <label for="zip" class="form-label">City</label>
    <input
      type="text"
      formControlName="city"
      class="form-control"
      id="city"
      placeholder=""
      style="width: 300px"
    />
    <div class="invalid-feedback">city code required.</div>
  </div>

  <div class="col-sm-3">
    <label for="zip" class="form-label">Zip</label>
    <input
      type="text"
      formControlName="zip"
      class="form-control"
      id="zip"
      placeholder=""
      style="width: 300px"
    />
    <div class="invalid-feedback">Zip code required.</div>
  </div>
</div>
