<h1 mat-dialog-title>Warranty Detail</h1>
<div mat-dialog-content>
  <mat-card style="margin: 10px">
    Customer Name {{ warrantyData?.name }} Mobile No
    {{ warrantyData?.city }} Email Id {{ warrantyData?.email }}
  </mat-card>
  <mat-card style="margin: 10px">
    Address
    {{ warrantyData?.city }}State {{ warrantyData?.city }} City{{
      warrantyData?.city
    }}
    PinCode
    {{ warrantyData?.city }}
  </mat-card>
  <mat-card style="margin: 10px">
    Product {{ warrantyData?.product }} Model {{ warrantyData?.modelNo }}
    <p>
      Warranty Start Date {{ warrantyData?.startDate }} Warranty End Date
      {{ warrantyData?.endDate }}
    </p>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
