<!-- Title -->
<div
  class="container mt-4 mb-2 ; fontpop"
  style="display: flex; justify-content: space-between"
>
  <h4 style="align-self: center">Warranty Details</h4>

  <mat-form-field style="font-size: 12px" class="fonP" appearance="outline">
    <mat-label>Search</mat-label>
    <input type="text" (keyup)="applyFilter($event)" matInput />
  </mat-form-field>
</div>

<!-- Table -->
<div class="container fontpop">
  <app-warranty-list [dataSource]="dataSource"></app-warranty-list>
</div>
