<h1 mat-dialog-title>Warranty Detail</h1>
<table style="width: 600px" class="fonP">
  <tr>
    <td>Customer Name</td>
    <td>{{ dealerData?.name }}</td>
  </tr>
  <tr>
    <td>Mobile No</td>
    <td>{{ dealerData?.name }}</td>
  </tr>
  <tr>
    <td>Email Id</td>
    <td>{{ dealerData?.name }}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>{{ dealerData?.name }}</td>
  </tr>
  <tr>
    <td>State</td>
    <td>{{ dealerData?.name }}</td>
  </tr>
  <tr>
    <td>City</td>
    <td>{{ dealerData?.name }}</td>
  </tr>
  <tr></tr>
</table>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="margin-right: 20%">Close</button>
  <div>
    <button mat-button mat-dialog>Warranty Clam</button>
  </div>
</div>
