<div
  class="container mt-4 mb-2 fontpop"
  style="display: flex; justify-content: space-between"
>
  <H4 style="align-self: center">Dealer Details</H4>
  <mat-form-field style="font-size: 12px" appearance="outline">
    <mat-label style="font-family: Poppins">Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</div>

<div class="tablebor" style="margin-right: 25px; margin-left: 25px">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.no }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="font-family: Poppins">
        Dealer Name
      </th>
      <td mat-cell *matCellDef="let element" style="font-family: Poppins">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="contactNo">
      <th mat-header-cell *matHeaderCellDef class="fonP">Mobile No</th>
      <td mat-cell *matCellDef="let element" class="fonP">
        {{ element.contactNo }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="fonP">Email Id</th>
      <td mat-cell *matCellDef="let element" class="fonP">
        {{ element.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="gstNo">
      <th mat-header-cell *matHeaderCellDef class="fonP">GST No</th>
      <td mat-cell *matCellDef="let element" class="fonP">
        {{ element.gstNo }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef class="fonP">Address</th>
      <td mat-cell *matCellDef="let element" class="fonP">
        {{ element.address }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef class="fonP">State</th>
      <td mat-cell *matCellDef="let element" class="fonP">
        {{ element.state }}
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef class="fonP">City</th>
      <td mat-cell *matCellDef="let element" class="fonP">
        {{ element.city }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pinCode">
      <th mat-header-cell *matHeaderCellDef class="fonP">PinCode</th>
      <td mat-cell *matCellDef="let element" class="fonP">
        {{ element.pinCode }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<button
  mat-fab
  color="primary"
  style="position: absolute !important; bottom: 50px; right: 85px"
  routerLink="dealer-form"
>
  <mat-icon>add</mat-icon>
</button>
