<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Warranty Management Syatem</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container
  class="example-container"
  autosize
  style="width: 100%; height: 100%"
>
  <mat-drawer
    #drawer
    opened
    class="example-sidenav"
    style="width: 200px; padding-top: 20px"
    mode="side"
  >
    <button mat-button class="sideNavButton" routerLink="Dashboard">
      Dashboard
    </button>
    <button mat-button class="sideNavButton" routerLink="Dealer">Dealer</button>
    <button mat-button class="sideNavButton" routerLink="Customer">
      Customer
    </button>
    <button mat-button class="sideNavButton" routerLink="Warranty">
      Warranty
    </button>
    <button mat-button class="sideNavButton" routerLink="user">User</button>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
