<div class="main-container">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon matTooltip="Menu">menu</mat-icon>
    </button>

    <span>WMS</span>

    <span class="example-spacer"></span>

    <div>
      <button mat-icon-button matTooltip="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-drawer-container
    class="example-container"
    autosize
    style="width: 100%; height: 100%"
  >
    <mat-drawer
      #drawer
      opened
      class="example-sidenav"
      style="width: 200px; padding-top: 10px"
      mode="side"
    >
      <button
        mat-button
        class="sideNavButton fontpop"
        mat-button
        style="margin-bottom: 10px; margin-top: 10px; color: teal"
        routerLink="Dashboard"
      >
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>
      <button
        mat-button
        class="sideNavButton fontpop"
        mat-button
        style="color: teal; margin-bottom: 10px"
        routerLink="Dealer"
      >
        <mat-icon>settings_input_antenna</mat-icon>
        Dealer
      </button>
      <button
        mat-button
        class="sideNavButton fontpop"
        mat-button
        style="color: primary; margin-bottom: 10px"
        routerLink="Customer"
      >
        <mat-icon>supervisor_account</mat-icon>
        Customer
      </button>
      <button
        mat-button
        class="sideNavButton fontpop"
        mat-button
        style="margin-bottom: 10px"
        routerLink="Warranty"
      >
        <mat-icon>verified_user</mat-icon>
        Warranty
      </button>
      <button
        mat-button
        class="sideNavButton fontpop"
        mat-button
        style="color: primary; margin-bottom: 10px"
        routerLink="user"
      >
        <mat-icon style="color: rgb(30, 184, 24)">person</mat-icon>
        User
      </button>
    </mat-drawer>

    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
