<div style="margin: 16px">
  <h6>Customer Details</h6>
  <!-- customer fields component import -->
  <app-customer-fields></app-customer-fields>
</div>
<div style="margin: 16px" [formGroup]="warrantygroup">
  <!-- <mat-card style="display: flex; flex-wrap: wrap; column-gap: 21px"> -->
  <h6>Product Details</h6>
  <div class="row">
    <mat-form-field class="col" appearance="outline">
      <mat-label>Product</mat-label>

      <input matInput formControlName="product" />
    </mat-form-field>
    <mat-form-field class="col" appearance="outline">
      <mat-label>Model No</mat-label>
      <input matInput formControlName="modelNo" />
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>S/N</mat-label>
      <input matInput formControlName="contactNo" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col" appearance="outline">
      <mat-label>WSR No</mat-label>
      <input matInput formControlName="contactNo" />
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Warranty Start Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Warranty End Date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="endDate" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: end">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
