<h6>Customer Details</h6>
<mat-card style="margin: 20px">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Dealer Name</mat-label>
    <input matInput placeholder="" value="" />
  </mat-form-field>
</mat-card>
<mat-card style="margin: 20px">
  <!-- customer fields component import -->
  <app-customer-fields></app-customer-fields>

  <div
    style="
      display: flex;
      justify-content: end;
      margin-left: 22px;
      margin-right: 22px;
    "
  >
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</mat-card>
